$breakpoint-mobile: 40rem;
$breakpoint-tablet: 60rem;
$breakpoint-desktop: 100rem;

@mixin respond($breakpoint) {
  @if $breakpoint == tablet {
    @media (min-width: $breakpoint-mobile) {
      @content;
    }
  } @else if $breakpoint == desktop {
    @media (min-width: $breakpoint-tablet) {
      @content;
    }
  } @else if $breakpoint == large-desktop {
    @media (min-width: $breakpoint-desktop) {
      @content;
    }
  }
}
