*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit; /* Resets font size */
  margin: 0; /* Resets margin */
  padding: 0; /* Resets padding */
  font-weight: normal; /* Resets font weight */
  line-height: normal; /* Resets line height */
}

input {
  all: unset; /* Resets all styling applied to input */
  border: none;
  background: none;
  box-sizing: border-box;
}

input[type=number] {
  -moz-appearance: textfield; /* Firefox */
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none; /* Webkit */
  margin: 0; /* Removes the default margin */
}

button {
  all: unset; /* Resets all default styles */
  display: inline-block; /* Make sure the button behaves as an inline element */
  cursor: pointer; /* Ensures the button looks clickable */
}

body {
  background-color: hsl(185, 41%, 84%);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Space Mono", monospace;
}

header {
  text-transform: uppercase;
  letter-spacing: 0.4rem;
  height: 15vh;
  display: flex;
  align-items: center;
  color: hsl(186, 14%, 43%);
}
header h1 {
  font-size: 1.5rem;
  font-weight: 700;
}
header span {
  display: block;
}

main {
  min-height: 85vh;
  background-color: hsl(0, 0%, 100%);
  width: 100%;
  border-radius: 2rem 2rem 0 0;
  padding: 2rem 1.6rem;
  display: flex;
  flex-direction: column;
}
main .button {
  border: none;
  text-align: center;
  cursor: pointer;
}
main .sub-heading {
  color: hsl(186, 14%, 43%);
  font-weight: bold;
  padding: 0.4rem 0;
  display: flex;
  align-items: center;
}
main .error-msg {
  display: none;
}
main .error-msg.active {
  display: block;
  color: red;
  margin-left: auto;
  font-size: 0.8rem;
}
main section {
  width: 100%;
  margin-bottom: 1.5rem;
}
main section .input-container {
  position: relative;
}
main section .input-container .icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 1rem;
  color: hsl(186, 14%, 43%);
}
main section .input {
  background-color: hsl(189, 41%, 97%);
  width: 100%;
  border-radius: 0.4rem;
  color: hsl(186, 100%, 15%);
  font-size: 24px;
  padding: 0.5rem 1rem;
  font-weight: 700;
  text-align: right;
  box-sizing: border-box;
}
main section input::placeholder {
  color: hsl(184, 14%, 56%);
}
main section input:hover {
  cursor: pointer;
}
main section input:focus {
  outline: 0.1rem solid hsl(172, 67%, 45%);
}
main section .tip-percent {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  margin: 0.5rem 0;
}
main section .tip-percent .button {
  font-weight: 700;
  padding: 0.4rem 0;
  font-size: 24px;
  border-radius: 0.3rem;
}
main section .tip-percent .tip-button {
  background-color: hsl(186, 100%, 15%);
  color: hsl(0, 0%, 100%);
}
main section .tip-percent button:hover {
  background-color: hsl(173, 61%, 77%);
}
main section .tip-percent .custom-tip {
  background-color: hsl(189, 41%, 97%);
  color: hsl(186, 100%, 15%);
  width: 100%;
  text-align: right;
  padding-right: 0.5rem;
}
main section .tip-percent .custom-tip::placeholder {
  color: hsl(186, 14%, 43%);
  text-align: center;
}
main section .tip-percent .active {
  background-color: hsl(172, 67%, 45%);
  color: hsl(186, 100%, 15%);
}
main .summary {
  background-color: hsl(186, 100%, 15%);
  padding: 1.5rem;
  border-radius: 1rem;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 0;
}
main .summary .summary-container {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
main .summary .summary-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
main .summary .summary-item .sub-title {
  color: hsl(0, 0%, 100%);
}
main .summary .summary-item .sub-title span {
  color: hsl(184, 14%, 56%);
  display: block;
  font-size: 0.8rem;
}
main .summary .summary-item .price {
  color: hsl(172, 67%, 45%);
  font-size: 2rem;
  font-weight: 700;
}
main .summary .reset-button {
  padding: 0.5rem 0;
  background-color: hsl(172, 67%, 45%);
  color: hsl(186, 100%, 15%);
  border-radius: 0.3rem;
  font-size: 1.2rem;
  text-transform: uppercase;
  font-weight: 700;
}
main .summary .reset-button:hover {
  background-color: hsl(173, 61%, 77%);
}
main .summary .inactive {
  background-color: hsl(183, 79%, 24%);
}

@media (min-width: 40rem) {
  html {
    font-size: 16px;
  }
  main {
    width: 75%;
  }
}
@media (min-width: 60rem) {
  html {
    font-size: 17px;
  }
  body {
    gap: 4rem;
  }
  header {
    height: auto;
    margin-top: -4rem;
  }
  main {
    min-height: auto;
    padding: 1.8rem;
    border-radius: 1.5rem;
    flex-direction: row;
    gap: 1.5rem;
    max-width: 58rem;
  }
  main .number-of-people {
    margin-top: 2rem;
  }
  main .calculator {
    width: 50%;
  }
  main .calculator .tip-percent {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    margin: 0.5rem 0;
  }
  main .calculator .tip-percent button {
    padding: 0.3rem 0;
  }
  main .summary {
    padding: 2.5rem;
    width: 50%;
  }
  main .summary .summary-container {
    gap: 1.5rem;
  }
  main .summary .summary-container .price {
    font-size: 2.7rem;
  }
}
@media (min-width: 100rem) {
  html {
    font-size: 20px;
  }
}

/*# sourceMappingURL=style.css.map */
