@use "./base/reset_css";
@use "./mixin/media_queries" as mq;

$Strong-Cyan: hsl(172, 67%, 45%);

$Very-Dark-Cyan: hsl(186, 100%, 15%);
$Dark-Grayish-Cyan: hsl(186, 14%, 43%);
$Grayish-Cyan: hsl(184, 14%, 56%);
$Light-Grayish-Cyan: hsl(185, 41%, 84%);
$Very-Light-Grayish-Cyan: hsl(189, 41%, 97%);
$White: hsl(0, 0%, 100%);

$form-input-size: 24px;

$font-fam: "Space Mono", monospace;
$weight: 700;
